<h1>Analizador de PL0 usando Jison</h1>
<div id="content">
  <p class="loadfile">
    <input type="file" id="examples" />
  </p>
  <p>
  <nav>
  <ul>
    <% programs.sort.each do |p| %>
      <li><a href="<%= p.name %>" <%=current?('/'+p.name)%>><%= p.name %></a></li>
    <% end %>
  </ul>
  </nav>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input" 
                    autofocus cols = "40" rows = "4">
<%= source %>
          </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname" 
                 title="Un identificador (que no sea la palabra 'test')"
                 pattern="^(?!test$)\w+$"
          />
        </form>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <p>
    <div id="flash"><%= flash[:notice] if flash[:notice]%></div>
  </p>
  <div class="output"><!-- Output goes here! --> 
<pre>
<span id="output">
</span>
</pre>
  </div>
</div>

<script type="text/javascript" src="calculator.js"></script>
<script type="text/javascript" src="main.js"></script>
